<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SIPKL POLITAP</title>
  <link rel="stylesheet" href="../assets/login2/css/style.css">
</head>
<body>
  <div class="container">
    <div class="login">
      <form action="">
        <h1>Login</h1>
        <hr>
        <p>SISTEM INFORMASI PRAKTIK KERJA LAPANGAN </p>
        <label for="">Email</label>
        <input type="text" placeholder="indahputriherni@gmail.com">
        <label for="">Password</label>
        <input type="password" placeholder="Password">
        <button>Login</button>
        <p>
          <a href="#">Forgot Password?</a>
        </p>
      </form>
    </div>
    <div class="right">
      <img src="../assets/login2/img/student.png" alt="">
    </div>
  </div>
</body>
</html>